body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #f9faf8;
  margin: 10px;
  text-decoration: none;
}

h1,
h3 {
  color: #f9faf8;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

/* .identifier {
  border: solid;
  border-color: rgb(255, 162, 101);
  border-width: 2px;
} */

.header {
  background-color: #571664;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 175px 0 175px;
  border-radius: 50px 50px 0 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 100px;
  border-radius: 50px;
  margin-right: 25px;
}

.links {
  display: flex;
}

.links a:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.top-card {
  color: #f9faf8;
  background-color: #571664;
  display: flex;
  justify-content: center;
  padding: 100px 175px 125px 175px;
}

.text-card {
  font-size: 35px;
  margin-right: 75px;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  border: none;
  background-color: #a7226e;
  border-radius: 5px;
  padding: 10px 20px;
  color: #e5e7eb;
}

.button:hover {
  background-color: #1f84b3;
}

.image {
  width: 625px;
  border-radius: 10px;
}

.mid-card {
  padding: 225px 75px 175px 75px;
}

.imgs {
  display: flex;
  justify-content: center;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img2,
.img-text {
  width: 250px;
  margin: 25px 25px 25px 25px;
  text-align: center;
}

.img2 {
  border-radius: 10px;
  border: #1f84b3;
  border-style: solid;
  border-width: 10px;
}

.img-text {
  align-self: center;
}

.img-container img {
  transition: 0.5s;
}

.img-container:hover img {
  transform: scale(1.05);
}

.mid-card-2 {
  background-color: #f7b11e;
  padding: 100px 175px;
}

.quote,
.author {
  font-size: 35px;
  font-style: italic;
  color: #1f2937;
}

.author {
  text-align: right;
  font-weight: bold;
}

.bottom-card {
  margin: 100px 175px;
  background-color: #a7226e;
  border-radius: 10px;
  padding: 25px 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
}

.contactimg {
  width: 60px;
}

.button-2 {
  border: 2px solid #f9faf8;
  background-color: #a7226e;
  border-radius: 5px;
  padding: 10px 20px;
  color: #e5e7eb;
}

.button-2:hover {
  background-color: #1f84b3;
}

.footer {
  text-align: center;
  background-color: #571664;
  padding: 25px;
  color: #f9faf8;
  border-radius: 0 0 50px 50px;
}
